<!-- This is the nav.html file.-->
<!-- Nav Bar Component -->
<header>
  <div class="container">
    <nav>
    <!-- Logo on the left -->
    <a href="/index.html" class="logo">David Salsone</a>
    <!-- Container for nav-links, vertical divider, and social icons -->
    <div class="nav-right">
      <!-- Navigation Links -->
      <div class="nav-links">
        <a href="/about.html" class="nav-link">about</a>
        <a href="/projects/index.html" class="nav-link">work</a>
        <a href="/words.html" class="nav-link">words</a>
      </div>
      <!-- Vertical Divider -->
      <div class="vertical-divider"></div>
      <!-- Social Icons -->
      <div class="social-icons">
        <!-- Email Icon-->
        <a href="mailto:davidsalsone@gmail.com" class="social-icon">✉️</a>
        <!-- LinkedIn Icon -->
        <a href="https://www.linkedin.com/in/dsalsone/" target="_blank" class="social-icon">
        <img src="/assets/linkedin_media_message_icon.png" alt="LinkedIn Icon">
        </a>
      </div>
    </div>
    </nav>
  </div>
</header>